.profile__edit-button {
  background-image: url(../../../images/pen-icon.svg);
  background-repeat: no-repeat;
  background-color: #000000;
  min-width: 24px;
  border: 0px;
  max-height: 28px;
  background-position: center;
  border-radius: 2px;
  margin-top: 12px;
  margin-right: 2px;
  border: 1px solid #FFFFFF;
}

.profile__edit-button:hover {
    cursor: pointer;
    opacity: 0.6;
  } 

@media screen and (min-width: 320px) and (max-width: 767px) {
    .profile__edit-button {
        background-size: 7px;
        margin-top: 13px;
        max-width: 18px;
        max-height: 18px;        
      }
  }
