.form__button {
  background: #000000;
  border: 0;
  border-radius: 2px;
  box-sizing: border-box;
  width: 358px;
  height: 50px;
  margin-left: 36px;
  margin-right: 36px;
  padding-left: 0px;
  padding-right: 0px;
  font-family: 'Inter','Helvetica Neue', Arial, sans-serif;
  font-style: normal; 
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 50px;
  margin-bottom: 34px;
}
       
.form__button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
  .form__button {
    margin-left: 22px;
    margin-right: 22px;
    max-width: 238px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 43px;
    margin-bottom: 25px;
  }
}