.pop-up__button {
  background: transparent;
  border-radius: 2px;
  background-image: url(../../../../images/close-icon.svg);
  background-repeat: no-repeat;
  box-sizing: border-box;  
  background-position: center;
  position: absolute;
  min-width: 32px;
  min-height: 32px;
  right: -40px;
  top: -40px;
  border: none;
  background-size: cover;
}
               
.pop-up__button:hover {
  cursor: pointer;
  opacity: 0.6;
}
  
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .pop-up__button {
    top: -34px;
    right: -1px;
    min-width: 20px;
    min-height: 20px;       
    }
}