.profile__title {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  font-family: 'Inter','Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #FFFFFF;
  display: block;
  padding-right: 18px;
  margin-top: 0;
  margin-bottom: 0;
  text-overflow: ellipsis; 
  white-space: nowrap; 
  overflow: hidden;
  max-width: 294px;
  }

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    padding-right: 0px;
    padding-top: 0px;    
  }
}



