.form__input-container_name {
    border: 0 none;
    border-bottom: 1px black;
    margin: auto;
    max-width: 358px;
    border-color: transparent;
    margin-top: 0;
    margin-bottom: 0;
}


@media screen and (min-width: 320px) and (max-width: 1279px) {
    .form__input-container_name {
      margin-left: 6px;   
      padding-top: 0px;
      }
    }