.cards__title {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  font-family: 'Inter','Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 29px;
  color: #000000;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}