.form__inputs {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .form__inputs {
    padding-top: 0px;
    padding-bottom: 0px;    
    max-height: 84px;
    margin-bottom: 29px;
    min-height: 84px;
    justify-content: space-between;
    }
}