.form__input-container_job {
    border: 0 none;
    outline: none;
    border-color: transparent;
    margin: auto;
    max-width: 358px;
    border-color: transparent;
    margin-bottom: 30px;
    margin-top: 15px;
    margin-bottom: 29px;
  }

  @media screen and (min-width: 320px) and (max-width: 1279px) {
    .form__input-container_job {
      margin-left: 6px;
      margin-top: 13px;
      margin-bottom: 0px;
      }
    }