.form__input {
  margin-left: 36px;
  margin-right: 36px;
  border: 0 none;
  outline: none;
  border-color: transparent;
  max-width: 358px;  
  font-family: 'Inter','Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-top: 36px;
  margin-bottom: 0;
  min-width: 358px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  line-height: 11px;
  padding-bottom: 5px;
}


.form__input:focus {
  outline: none;
  border: 2px solid #F94018;
  text-overflow: ellipsis;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .form__input {
      margin-left: 21px;
      margin-right: 0px;
      margin-top: 0;
      max-width: 238px;
      min-width: 238px;
      padding-bottom: 0px;
      line-height: 27px;
      margin-bottom: 0;
      }
    }