.form__input {
    margin-left: 36px;
    margin-right: 36px;
    border: 0 none;
    outline: none;
    border-color: transparent;
    max-width: 358px;  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-top: 36px;
    margin-bottom: 0;
    border-bottom: opacity 0.2;
    min-width: 358px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
}

input:focus {
    outline: none;
    border: 2px solid #F94018;
    text-overflow:ellipsis !important;
  }