.profile__avatar {
  max-width: 169px;
  max-height: 128px;
  margin-top: 0px;
  margin-right: 34px;
  border-radius: 50%;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
  .profile__avatar{
      margin-bottom: 0;
      margin-right: 0px;    
    }
}