.pop-up__container {
  display: flex; /* просто удалить, не менять на флекс ?*/
  position: absolute;
  top: 195px;
  bottom: 195px;
  left: 425px;
  right: 425px;
  width: 430px;
  height: 330px;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
  .pop-up__container {
    top: -15px;
    left: 0px;
    right: 19px;
    max-width: 282px;
    max-height: 322px;   
    }
}